```
# Dependencies
node_modules/
target/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
.pytest_cache/
.mypy_cache/
.hypothesis/
.eggs/
*.egg-info/
.installed.cfg
.pep8
.flake8
.isort.cfg
.black
.pyup.yml
.requirements.bak
.coveralls.yml
.prospector.yaml
.landscape.yaml
.devcontainer/
.vscode/settings.json

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar.bz2
.DS_Store
Thumbs.db
```